/*中央揃え*/
#account{
  text-align: center;
  color: #666;
  margin-top: 30px;
}
#button_p{
  text-align: center;
}
#button{
  margin: 10px 20px;
  display: inline-block;
}
/*文字の大きさ*/
#text{
  font-size: x-large;
  margin-top: 20px;
  color: #666;
  text-align: center;
}
/*ヘッダー右寄せ*/
#header{
  text-align: right;
}