/*中央揃え*/
#account{
  text-align: center;
  color: #666;
}
#button{
  text-align: center;
}
/*文字の大きさ*/
#text{
  font-size: x-large;
}
/*ヘッダー右寄せ*/
#header{
  text-align: right;
}
#all{
  vertical-align: middle;
}