/*中央揃え*/
#button{
  text-align: center;
}
#category{
  text-align: center;
  color: #666;
}
#text{
  text-align: center;
  color: #666;
  font-size: x-large;
}
/*ヘッダー右寄せ*/
#header{
  text-align: right;
}