/*本中央よせ*/
#book_p{
  text-align: center;
  margin-top: 30px;
}
#button_p{
  text-align: center;
}
#button{
  margin: 10px 20px;
  display: inline-block;
}
/*横並び*/
#book{
  text-align: center;
  color:#666;
  display: inline-block;
  vertical-align: top;
}
#icon{
  margin-top: 50px;
}
/*ヘッダー右寄せ*/
#header{
  text-align: right;
}
#title{
  font-size: x-large;
  font-weight: bolder;
}
#text{
  text-align: left;
  margin-left: 50px;
  color: #666;
  margin-top: 30px;
}