/*中央揃え*/
#book{
  text-align: center;
  color:#666;
  display: inline-block;
}
/*中央揃え*/
#book_p{
  text-align: center;
  margin: 20px 10px 20px;
}
/*中央揃え*/
#button{
  text-align: center;
  margin: 10px;
}
#lend{
  text-align: center;
  color:#666;
  font-size: x-large;
  margin: 10px;
}
/*ヘッダー右寄せ*/
#header{
  text-align: right;
}