/*検索ボックス*/
#sbox{
  outline:0;/*クリック時の青い枠線消す*/
  width: 500px;
  height:50px;/*検索ボックスの高さ*/
  border-radius: 10px;/*検索ボックスの角を丸める*/
  background:#fffef4;/*検索ボックスの背景カラー*/		
  margin: 10px 10px 0px;
  border: 1px solid #666;
}
/*検索ボタン*/
#sbtn{
  width:100px;/*検索ボタンの横幅*/ 
  height:50px;/*検索ボタンの縦幅*/  
  top:0;
  border-radius:10px;/*検索ボタンの角を丸める*/ 
  background:#38b6ff;/*検索ボタンの背景カラー*/ 
  border:none;/*検索ボタンの枠線を消す*/ 
  color:#fff;/*検索ボタンのテキストカラー*/ 
  font-weight:bold;/*検索ボタンのテキスト太字*/ 
  font-size:16px;/*検索ボタンのフォントサイズ*/ 
  outline: none;
  border-color: #666;
}
/*検索ボタンマウスオーバー時*/
#sbtn:hover{
  color:#666;/*検索ボタンマウスオーバー時のフォントカラー*/ 
}
/*ドロップダウン*/
#dropdown{
  width: 500px;
  height:50px;
  font-weight:bold;
  border-radius:10px 10px 10px 10px;
  margin: 0px 10px 10px;
}
/*検索ボックス達の位置*/
#search{
  text-align: center;
}
/*本中央よせ*/
#book_p{
  text-align: center;
}
/*横並び*/
#book{
  text-align: center;
  color:#666;
  display: inline-block;
  vertical-align: top;
}
#icon{
  margin-top: 50px;
}
#button_p{
  text-align: center;
}
#button{
  margin: 10px 20px;
  display: inline-block;
}
/*ヘッダー右寄せ*/
#header{
  text-align: right;
}
#category{
  text-decoration: underline;
  text-decoration-color: #666;
}
#title{
  font-size: x-large;
  font-weight: bolder;
}
#text{
  text-align: left;
  margin-left: 50px;
  color: #666;
  margin-top: 30px;
}
#next{
  width:100px; 
  height:50px;
}