/*中央揃え*/
#email{
  text-align: center;
  color:#666;
  margin-top: 30px;
}
/*文字サイズ*/
#text{
  text-align: center;
  margin: auto;
  font-size: x-large;
  color: #666;
}
#buttun{
  text-align: center;
  margin: auto;
}
#email{
  border-radius: 10px;
  border: 2px solid #666;
  border-color: #666;
  outline: none;
}