/*ヘッダー右寄せ*/
#header{
  text-align: right;
}
/*中央寄せ*/
#oldpass{
  text-align: center;
}
#newpass{
  text-align: center;
}
#button{
  text-align: center;
}
/*文字の大きさ、色*/
#text{
  font-size: x-large;
  color: #666;
}