/*中央揃え*/
#email{
  text-align: center;
  color:#666;
  margin-top: 30px;
}
/*文字サイズ*/
#text{
  text-align: center;
  margin: auto;
  font-size: x-large;
  color: #666;
}
#button_p{
  text-align: center;
}
#button{
  margin: 10px 20px;
  display: inline-block;
}
#email{
  border-radius: 10px;
  border: 1px solid #666;
  border-color: #666;
  outline: none;
  width: 500px;
  height:50px;
  background:#fffef4;
}