/*ヘッダー右寄せ*/
#header{
  text-align: right;
}
/*中央寄せ*/
#oldpass{
  text-align: center;
  margin: 20px 10px 10px;
}
#newpass{
  text-align: center;
  margin: 20px 10px 10px;
}
#button{
  text-align: center;
  margin: 10px 20px;
}
/*文字の大きさ、色*/
#text{
  font-size: large;
  color: #666;
}
#password{
  border-radius: 10px;
}